api.enemy.sh {
    handle_path /api/contact* {
        reverse_proxy enemy-sh-contact-api {
            rewrite * {http.matchers.path}
        }
    }

    handle {
        respond "Not Found" 404
    }
}